.hidden {
    display: none;
}

.timer-view {
    font-size: 20px;
}

.timer-view.req {
    background-color: pink;
}

.app {
    display: flex;
    flex-direction: row;
}

.container {
    width: 50%;
    height: 500px;
    border: 2px solid pink;
}