
.control-boundary {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    padding: 4px;
}
.control-boundary.hidden {
    display: none;
}

.lap-field {
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 20px;
}
.timer-field {
    width: 100%;
    height: 100%;
    display: flex;
}
.timer-view {
    font-size: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.timer-view.req {
    background-color: pink;
}

.app {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.container {
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    border: 2px solid pink;
}


button {
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
}